*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
header{
  background-color: #B6B4B4;
  padding: 16px 0;
}
.nav-center{
  width:96%;
  max-width: 1400px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;   
}
.container{
  width:96%;
  max-width: 1400px;
  margin:0 auto;
}
h1,h2{
  margin-bottom: 1.5rem;;
}

.nav{
  list-style: none;
  display:flex;
  justify-content: center;
  gap:15px
}
a{
  text-decoration: none;
  color:#333;
  font-weight:500;
}
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #EFF7FF;
}
.btn{
  background-color: #645CFF;
  color:#fff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  padding: 10px 25px;
  font-size: 1.2rem;
}

.add-task{
  min-height: 90vh;
  background-color: #EFF7FF;
}
form{
  padding-top:5rem;
  padding-bottom:2.5rem;
  width:100%;
}
input{
  width:30%;
  padding: 10px 15px;
  margin-right: 25px;
  font-size: 1.1rem;
  background-color: #E7E7E8;
}
.todo-list{
  background-color: #fff;
  width:30%;
  padding:15px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.todo-item{
  /* width:30%; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;;
}
.icon-check{
  margin-right: 10px;
  color:blue
}
.icon-remove{
  color:red;
}